<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some data</title>
</head>
<body>
  <h1>{{  toUpper 'Serving static' }}</h1>
  Name: {{name}}, age: {{age}}
{{> footer}}
</body>
</html>
